<template>
  <el-dialog :visible.sync="visible" custom-class="custom-dialog" :before-close="handleClose" append-to-body :close-on-click-modal="false" v-bind="$attrs" v-on="$listeners">
    <div slot="title" class="el-dialog__title">{{title}}</div>
    <slot></slot>
    <fj-dialog-footer v-if="showFooter" slot="footer" @close="handleClose" @confirm="handleConfirm" />
  </el-dialog>
</template>

<script>
export default {
  name: 'FjDialog',
  props: {
    title: {
      type: String,
      default: ''
    },
    width: {
      type: String,
      default: '50%'
    },
    visible: {
      type: Boolean,
      default: false
    },
    showClose: {
      type: Boolean,
      default: true
    },
    showFooter: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    handleClose() {
      this.$emit('close')
    },
    handleConfirm() {
      this.$emit('confirm')
    }
  }
}
</script>
