<template>
  <el-dialog title="" :visible.sync="visible" custom-class="confirm-box" :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false">
    <div style="white-space: pre-line;word-break: keep-all">{{ message }}</div>
    <div slot="footer" style="text-align: center;">
      <el-button size="small" @click="handleAction('cancel')" class="btn-cancel">{{ defaultCancelButtonText }}</el-button>
      <el-button v-if="showCustom" type="warning" size="small" @click="handleAction('custom')">{{ defaultCustomButtonText }}</el-button>
      <el-button type="primary" size="small" @click="handleAction('confirm')">{{ defaultConfirmButtonText }}</el-button>
    </div>
  </el-dialog>
</template>

<script>
/* eslint-disable no-undef */
export default {
  data () {
    return {
      message: '',
      visible: false,
      action: '',
      cancelButtonText: '',
      confirmButtonText: '',
      showCustom: false,
      customButtonText: ''
    }
  },
  computed: {
    defaultCancelButtonText() {
      return this.cancelButtonText || i18n.t('btn.cancel')
    },
    defaultConfirmButtonText() {
      return this.confirmButtonText || i18n.t('btn.confirm1')
    },
    defaultCustomButtonText() {
      return this.customButtonText || i18n.t('btn.cancel')
    }
  },
  methods: {
    handleAction (action) {
      this.action = action
      this.visible = false
      this.callback && this.callback()
    }
  }
}
</script>

<style lang="scss">
.el-dialog.confirm-box {
  width: 600px;
  height: 400px;
  background-color: transparent;
  margin-top: 0 !important;
  margin-bottom: 0;
  padding: 70px;
  display: flex;
  flex-direction: column;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    flex: 1;
    overflow: visible;
    .warning-icon {
      width: 280px;
      height: 200px;
      display: block;
      margin: -160px auto 40px;
    }
  }
  .el-dialog__footer {
    padding: 0;
    button {
      min-width: 80px;
      & + button {
        margin-left: 24px;
      }
    }
  }
  .btn-cancel {
    border-color: #85bdff;
    background-color: transparent;
    color: #fff;
    &:hover,
    &:focus {
      border-color: #85bdff;
      background-color: #85bdff10;
      color: #fff;
    }
  }
}
</style>
