<template>
  <el-container class="fj-container">
    <el-header class="fj-header" height="6vh">
      <div class="fj-header--left">
        <!-- FJ-AGkit农业种植管理平台 -->
        <div class="fj-name" @click="$router.push('/farmland/index')">
          <span v-if="title">{{title}}</span>
          <span v-else-if="lang==='zh'">{{$t('title')}}</span>
          <span v-else><b>{{$t('shortTitle')}}</b><br /><span style="font-size: 0.20rem; font-weight: 100;">{{$t('title')}}</span></span>
        </div>
      </div>
      <div class="fj-header--right">
        <div class="fj-menu">
          <el-dropdown v-for="i in menuList" :key="i.id" placement="bottom" class="fj-dropdown">
            <span class="el-dropdown-link" :class="{ 'menu-active': $route.path.startsWith(i.path) }">
              {{ getMenuTxt(i.meta.title) }}<i class="el-icon-caret-bottom el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown" style="margin-left: -12px;margin-top: -0.3vh;font-size: 12px;text-align: center;">
              <el-dropdown-item v-for="route in i.children.filter(it => !it.hidden)" :key="route.id" :class="{ 'route-active': (i.path + '/' + route.path) === $route.path }">
                <router-link tag="div" :to="`${i.path}/${route.path}`">{{ getMenuTxt(route.meta.title) }}</router-link>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div class="fj-user">
          <span>{{now}}</span>
          <el-divider direction="vertical"></el-divider>
          <!-- <img src="~@/assets/images/language.png" style="margin-left: 4px" /> -->
          <el-dropdown trigger="click" class="fj-dropdown" style="margin-right: 0px;margin-left: 4px;">
            <span class="el-dropdown-link">
              {{langTxt}}<i class="el-icon-caret-bottom el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-for="item in languageList" @click.native="setLang(item.key)" :key="item.key">{{item.label}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-divider direction="vertical"></el-divider>
          <el-avatar :size="30" :src="avatarImageUrl" :class="['fj-avatar', avatarImageUrl?'on':'']"></el-avatar>
          <el-dropdown trigger="click" class="fj-dropdown">
            <span class="el-dropdown-link">
              {{ $store.state.user.nickname }}<i class="el-icon-caret-bottom el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <!-- 消息中心 账号设置 退出登录 -->
              <el-dropdown-item @click.native="goToMenu('message')">{{$t('btn.messageCenter')}}</el-dropdown-item>
              <el-dropdown-item @click.native="goToMenu('set')">{{$t('btn.setAccount')}}</el-dropdown-item>
              <el-dropdown-item @click.native="goToMenu('feedback')">{{$t('txt.feedback')}}</el-dropdown-item>
              <el-dropdown-item @click.native="logout">{{$t('btn.logOut')}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </el-header>
    <el-main class="fj-main">
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
import API from '@/api'
import dayjs from 'dayjs'
import mapboxgl from 'mapbox-gl'
import { accessToken } from '@/utils/map'
import { mapState, mapGetters } from 'vuex';
export default {
  data() {
    return {
      now: '',
      avatarImageUrl: ''
    }
  },
  computed: {
    ...mapState(['lang', 'title']),
    ...mapGetters(['langTxt', 'languageList']),
    menuList () {
      const list = this.$store.state.user.userMenus
      if (list) {
        return list.filter(i => !i.hidden)
      }
      return []
    }
  },
  created() {
    mapboxgl.accessToken = accessToken

    let timer = setInterval(() => {
      this.now = dayjs().format('YYYY-MM-DD HH:mm')
    }, 1000)
    this.$on('hook:beforeDestroy', () => {
      clearInterval(timer)
    })
    API.user.getUserInfo({ id: this.$store.state.user.userId }).then(rsp => {
      this.avatarImageUrl = rsp.data.avatarImageUrl
    })
  },
  methods: {
    setLang(val) {
      this.$store.commit('setLang', val)
    },
    getMenuTxt(originTitle) {
      if (originTitle && originTitle.indexOf('$') > -1) {
        const originTitleStringArr = originTitle.split('$')
        if (originTitleStringArr.length > 1 && originTitleStringArr[1]) {
          return this.$t('menu.' + originTitleStringArr[1])
        }
      }
      return originTitle
    },
    goToMenu(name) {
      this.$router.push({ path: `/${name}` })
    },
    logout () {
      this.$store.dispatch('user/logout')
      localStorage.removeItem('lang')
    }
  }
}
</script>

<style lang="scss">
.fj-header--left {
  flex: 1;
  display: flex;
  align-items: center;
  .fj-logo {
    width: 16px;
    height: 30px;
    margin: 0 0.16rem 0 0.32rem;
  }
  .fj-name {
    cursor: pointer;
    font-size: 0.24rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
  }
}
.fj-header--right {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fj-menu {
    height: 100%;
    padding-left: 0.9rem;
    display: flex;
    .fj-dropdown {
      cursor: default;
      display: flex;
      align-items: center;
      margin-right: 24px;
      .el-dropdown-link {
        cursor: pointer;
      }
    }
  }
  .fj-user {
    display: flex;
    align-items: center;
    .fj-avatar {
      margin-right: 10px;
      &.on{
        background: transparent;
      }
      img {
        width: 100%;
      }
    }
  }
}
.menu-active {
  &::after {
    content: '';
    display: block;
    width: 160px;
    height: 56px;
    opacity: 0.7;
    position: absolute;
    bottom: 0.4vh;
    left: 50%;
    transform: translate(-90px, 0);
    pointer-events: none;
  }
}
.route-active:not(:hover) {
  color: #3998FA !important;
}
</style>
