<template>
  <div class="el-dialog-select el-select" :class="[selectSize ? 'el-select--' + selectSize : '']">
    <el-input
      type="text"
      v-model="selectedLabel"
      :size="selectSize"
      readonly
      :clearable="clearable"
      :placeholder="placeholder"
      @focus="handleFocus"
      @mouseenter.native="inputHovering = true"
      @mouseleave.native="inputHovering = false">
      <template slot="suffix">
        <i v-if="!showClose" class="el-select__caret el-input__icon el-icon-arrow-up"></i>
        <i v-if="showClose" class="el-select__caret el-input__icon el-icon-circle-close" @click="handleClearClick"></i>
      </template>
    </el-input>

    <!-- Dialog -->
    <el-dialog
      :title="title"
      :visible.sync="dialogVisible"
      @open="handleOpen"
      custom-class="custom-dialog el-select-dialog"
      append-to-body
      :close-on-click-modal="false"
      :close-on-press-escape="false">
      <slot name="filter"></slot>
      <el-table
        ref="selectTable"
        size="medium"
        :data="tableData"
        border
        :highlight-current-row="!multiple"
        @current-change="handleCurrentChange"
        @selection-change="handleSelectionChange"
        style="width: 100%">
        <el-table-column v-if="multiple" type="selection" width="40"></el-table-column>
        <el-table-column v-for="(column, index) in columns" :key="index" v-bind="column"></el-table-column>
      </el-table>

      <template v-slot:footer>
        <div class="select-dialog-footer">
          <div class="select-pagination">
            <el-pagination
              background
              :current-page.sync="pageDesc.pageNo"
              :page-size="pageDesc.pageSize"
              :total="total"
              @current-change="getTableData"
              layout="prev, pager, next">
            </el-pagination>
          </div>
          <div>
            <el-button size="medium" @click="handleClose">{{ $t('btn.cancel') }}</el-button>
            <el-button size="medium" type="primary" :disabled="!canSubmit" @click="handleSelectConfirm">{{ $t('btn.confirm') }}</el-button>
          </div>
        </div>
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  inject: {
    elForm: { default: '' },
    elFormItem: { default: '' }
  },
  computed: {
    _elFormItemSize () {
      return (this.elFormItem || {}).elFormItemSize
    },
    selectSize () {
      return this.size || this._elFormItemSize || (this.$ELEMENT || {}).size
    },
    selectedLabel () {
      if (this.multiple) {
        return this.value.map(item => item[this.option.label]).join('，')
      } else {
        return this.value[this.option.label]
      }
    },
    showClose () {
      const hasValue = this.multiple
        ? Array.isArray(this.value) && this.value.length > 0
        : this.value && Object.prototype.hasOwnProperty.call(this.value, this.option.value)
      const criteria = this.clearable && this.inputHovering && hasValue
      return criteria
    },
    canSubmit () {
      if (this.multiple) {
        return this.currentSelectedGroup.length || this.selectedGroup.length
      } else {
        return this.selectRow && Object.prototype.hasOwnProperty.call(this.selectRow, this.option.value)
      }
    }
  },
  props: {
    size: String,
    deptId: [String, Number],
    multiple: { type: Boolean, default: false },
    clearable: { type: Boolean, default: false },
    value: { type: [Object, Array], required: true },
    placeholder: { type: String, default: '请选择' },
    title: { type: String, default: '请选择' },
    columns: { type: Array, required: true },
    option: { type: Object, default: () => { return { label: 'label', value: 'value' } } },
    request: { type: Function, required: true },
    filter: Object,
    multipleSort: Function,
    maxCount: { type: Number, default: 999999 },
    maxTip: { type: String, default: '数量超出最大值' }
  },
  data () {
    return {
      inputHovering: false,
      dialogVisible: false,
      pageDesc: { pageNo: 1, pageSize: 10 },
      tableData: [],
      total: 0,
      selectRow: this.multiple ? [] : null, // 选中结果
      currentSelectedGroup: [], // 多选当前Page选中项
      selectedGroup: [] // 多选除当前Page外的其他选中项（跨页数据）
    }
  },
  methods: {
    handleFocus () {
      this.dialogVisible = true
    },
    handleClearClick () {
      if (this.multiple) {
        this.$emit('input', [])
      } else {
        this.$emit('input', {})
      }
    },
    handleOpen () {
      if (this.multiple) {
        this.selectedGroup = this.value
      }
      this.getTableData()
    },
    getTableData (pageNo = 1) {
      this.pageDesc.pageNo = pageNo
      if (this.multiple) {
        this.selectedGroup.push(...this.currentSelectedGroup)
      } else {
        this.selectRow = null
      }
      const filter = {
        singleDeptId: this.filter.singleDeptId
      }
      if (!filter.singleDeptId) {
        filter.singleDeptId = this.deptId
      }
      const params = Object.assign({ }, this.pageDesc, { ...this.filter, ...filter })
      this.request(params).then(resp => {
        this.tableData = resp.data
        this.total = resp.count
        // 数据反显 行选中状态
        this.$nextTick(() => {
          if (this.multiple) {
            const otherSelectRows = []
            this.selectedGroup.forEach(row => {
              const hasRow = this.tableData.find(item => item[this.option.value] === row[this.option.value])
              if (hasRow) {
                this.$refs.selectTable.toggleRowSelection(hasRow, true)
              } else {
                otherSelectRows.push(row)
              }
            })
            this.selectedGroup = otherSelectRows
          } else {
            if (this.value && Object.prototype.hasOwnProperty.call(this.value, this.option.value)) {
              const hasRow = this.tableData.find(item => this.value[this.option.value] === item[this.option.value])
              if (hasRow) {
                this.selectRow = hasRow
                this.$refs.selectTable.setCurrentRow(hasRow)
              }
            }
          }
        })
      })
    },
    // 单选选中行
    handleCurrentChange (currentRow) {
      if (this.multiple) return
      this.selectRow = currentRow
    },
    handleSelectionChange (selection) {
      this.currentSelectedGroup = selection
    },
    handleSelectConfirm () {
      if (this.multiple) {
        const res = []
        res.push(...this.selectedGroup, ...this.currentSelectedGroup)
        this.selectRow = res
        this.multipleSort && this.selectRow.sort(this.multipleSort)
      }
      console.log(this.selectRow)
      if (this.selectRow.length > this.maxCount) {
        this.$message({ showClose: true, type: 'error', message: this.maxTip })
        return
      }
      this.$emit('input', this.selectRow)
      this.handleClose()
    },
    handleClose () {
      this.dialogVisible = false
      this.pageDesc = { pageNo: 1, pageSize: 10 }
      this.tableData = []
      this.total = 0
      this.selectRow = this.multiple ? [] : null
      this.currentSelectedGroup = []
      this.selectedGroup = []
    }
  }
}
</script>

<style lang="scss">
.el-dialog.custom-dialog.el-select-dialog {
  width: 70%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  .el-dialog__body {
    padding: 10px 20px;
    flex: 1;
    overflow: auto;
    .el-table {
      background-color: transparent;
      thead tr {
        background-color: transparent;
      }
    }
    // 表格错位
    .el-table th.gutter {
      display: table-cell !important;
    }
    .el-table colgroup.gutter {
      display: table-cell !important;
    }
    .el-table__body tr.current-row > td {
      background-color: #cbe4ff;
    }
  }
  .select-dialog-footer {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    .select-pagination {
      display: flex;
      align-items: center;
      .el-pagination {
        padding-left: 0;
        margin-left: -5px;
      }
    }
  }
}
</style>
