<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>logo.png">
  <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <title>智慧雨花台社区</title>
  <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=aupTMYClluniKSYZFSFV4RwzbkXUjVFH"></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but fj-template doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
