<template>
<div class="fj-page bg-shadow" style="position: relative;overflow: auto;">
  <div class="main-title">智慧雨花台社区</div>
  <div style="position: relative;width: 100%;height: 100%;">
    <div id="fj-map"></div>
  </div>
  <panel-left ref="panelLeft" @updateMonth="updateMonth" :helpRecord="helpRecord" :dangerClassify="dangerClassify" :partyMember="partyMember" :dangerTotal="dangerTotal"></panel-left>
  <panel-right ref="panelRight" @toggleDevice="toggleDevice" :deviceInfo="deviceInfo" :deviceTotal="deviceTotal" :hiddenDangerList="hiddenDangerList"></panel-right>
</div>
</template>

<script>
/* eslint-disable */
import 'mapbox-gl/dist/mapbox-gl.css'
import PanelLeft from './PanelLeft.vue'
import PanelRight from './PanelRight.vue'
import API from '@/api'
import { addBaseLayer, mapBgStyle, mapFeatStyle } from '@/utils/map'
// import unitMixin from '@/utils/unitMixin';
// import "@/utils/flexible.js";
export default {
  components: { PanelLeft, PanelRight },
  // mixins: [unitMixin],
  data() {
    return {
      iconUrl: {
        '20043': require('@/assets/images/gas.png'),
        '20044': require('@/assets/images/temperature.png'),
        '20042': require('@/assets/images/smoke.png')
      },
      labelName: {
        '20043': '燃气感',
        '20044':'温感器',
        '20042': '烟感器'
      },
      labelFormat: {
        '20043': 'gas',
        '20044':'temperature',
        '20042': 'smoke'
      },
      smokeUrl: require('@/assets/images/smoke.png'),
      temperatureUrl: require('@/assets/images/temperature.png'),
      memberUrl: require('@/assets/images/member.png'),
      gasUrl: require('@/assets/images/gas.png'),
      deviceInfo: '',
      deviceTotal: null,
      helpRecord: null,
      dangerClassify: null,
      dangerTotal: null,
      partyMember: null,
      hiddenDangerList: []
    }
  },
  created() {},
  mounted() {
    this.initMap()
    this.getEquipment()
    this.getHiddenDangerClassify()
    this.getPartyMember()
    this.getHelpRecord()
    this.getHiddenDanger()
  },
  beforeDestroy() {
    // if (this.map) this.map.remove()
    this.map = null
  },
  methods: {
    initMap() {
      var map =new BMapGL.Map('fj-map'); // 创建Map实例
      var point = new BMapGL.Point(118.782373,32.008188);// 创建点坐标
      map.centerAndZoom(point,18);
      map.setMapType(BMAP_EARTH_MAP);
      //添加鼠标滚动缩放
      map.enableScrollWheelZoom();
      map.addControl(new BMapGL.ScaleControl());

      // 党支书
      let point1 = new BMapGL.Point(118.78212019638146, 32.008330423118398)
      let point2 = new BMapGL.Point(118.780598,32.010244)
      let myIcon = new BMapGL.Icon(this.memberUrl, new BMapGL.Size(42, 44), {
        anchor: new BMapGL.Size(10, 30),
      })
      //按照地图点坐标生成标记
      let marker1 = new BMapGL.Marker(point1, {icon: myIcon});
      marker1.type="member1"
      let marker2 = new BMapGL.Marker(point2, {icon: myIcon});
      marker2.type = 'member2'
      let label1 = new BMapGL.Label('社区党支部服务点', {       // 创建文本标注
          position: point1,
          offset: new BMapGL.Size(10, 20)
      })
      let label2 = new BMapGL.Label('雨花台社区党群服务中心', {       // 创建文本标注
          position: point2,
          offset: new BMapGL.Size(10, 20)
      })
      label1.setStyle({                              // 设置label的样式
        color: '#FF0000',
        fontSize: '18px',
        fontWeight: 'bold',
        border: 'none',
        background: 'none'
      })
      label2.setStyle({                              // 设置label的样式
        color: '#FF0000',
        fontSize: '18px',
        fontWeight: 'bold',
        border: 'none',
        background: 'none'
      })
      map.addOverlay(label1);
      map.addOverlay(label2);
      map.addOverlay(marker1);
      map.addOverlay(marker2);
      this.map = map
      this.getEquipmentLocation()
    },
    updateMonth(e) {
      console.log(e)
      // 更新社区帮扶信息
    },
    getEquipmentLocation(){
      API.home.getEquipmentLocation().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        var marker = []
        var label = []
        for (var i = 0; i < res.result.length; i++) {
          // console.log(res.result[i].productsubtype)
          if (res.result[i].productsubtype !== '20042') continue;

          let x = res.result[i].latitudeLongitude.split(',')[0]
          let y = res.result[i].latitudeLongitude.split(',')[1]
          // let x = res.result[i].latitudeLongitude.split(',')[0].slice(0, -8)
          // let y = res.result[i].latitudeLongitude.split(',')[1].slice(0, -8)
          // console.log(res.result[i].latitudeLongitude)
          // console.log(x, y)
          let point = new BMapGL.Point(x,y)
          let myIcon = new BMapGL.Icon(this.iconUrl[res.result[i].productsubtype], new BMapGL.Size(26, 54), {
            anchor: new BMapGL.Size(10, 30),
          })
          //按照地图点坐标生成标记
          marker[i] = new BMapGL.Marker(point, {icon: myIcon});
          marker[i].type = this.labelFormat[res.result[i].productsubtype]
          label[i] = new BMapGL.Label(this.labelName[res.result[i].productsubtype], {       // 创建文本标注
              position: point,
              offset: new BMapGL.Size(-20, -50)
          })
          label[i].type = this.labelFormat[res.result[i].productsubtype]
          label[i].setStyle({                              // 设置label的样式
            color: '#FF0000',
            fontSize: '16px',
            fontWeight: 'bold',
            border: 'none',
            background: 'none'
          })  
          this.map.addOverlay(marker[i]);
          this.map.addOverlay(label[i]);
        }
        this.map.addOverlay(marker);
        console.log('getEquipmentLocation', res.result)
      })
    },
    // 显示隐藏设备信息
    toggleDevice(e) {
      console.log(e)
      var overLays = this.map.getOverlays()
      overLays.forEach((i)=>{
        console.log(i.type !== e.code)
        if (i.type === e.code) {
          if (e.visible) {
            i.hide()
            i.initialize(this.map)
            // this.map.centerAndZoom(new BMapGL.Point(118.782373,32.008188), 18);
          } else {
            i.show()
            i.initialize(this.map)
            // this.map.centerAndZoom(new BMapGL.Point(118.782373,32.008188), 18);
          }
          
        }
        console.log(i.type)
      })
      console.log('overLay', overLays)
    },
    getHiddenDanger() {
      API.home.getHiddenDanger().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        this.hiddenDangerList = res.result
        console.log('getHiddenDanger', res.result)
      })
    },
    getEquipment() {
      API.home.getEquipment().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        let total = 0
        res.result.length && res.result.forEach(i=>{
          i.number = parseInt(i.number)
          total += parseInt(i.number)
          i.name = i.productsubtypename
          i.value = i.number
        })
        this.deviceInfo = res.result
        this.deviceTotal = total
        console.log('getEquipment', res.result)
      })
    },
    getHiddenDangerClassify() {
      API.home.getHiddenDangerClassify().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        let total = 0
        res.result.length && res.result.forEach(i=>{
          i.number = parseInt(i.number)
          total += parseInt(i.number)
          i.name = i.hazard_classification
          i.value = i.number
        })
        this.dangerClassify = res.result
        this.dangerTotal = total
        console.log('getHiddenDangerClassify', res.result)
      })
    },
    getPartyMember() {
      API.home.getPartyMember().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        let data = {
          keys: [],
          values: []
        }
        res.result.length && res.result.forEach(i=>{
          data.keys.push(i.formerBranch)
          data.values.push(i.number)
        })
        this.partyMember = data
        console.log('getPartyMember', res.result)
      })
    },
    getHelpRecord() {
      API.home.getHelpRecord().then(res => {
        if (res.code !== 200) {
          return this.$message.error(res.message)
        }
        let data = {
          keys: [],
          values: []
        }
        var result = Object.keys(res.result).map( function (key) {
          data.keys.push(key)
          data.values.push(res.result[key])
        });
        this.helpRecord = data
        console.log('getHelpRecord', res.result)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.panel-column {
  width: 6.325rem;
  color: #fff;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.farm-info {
    flex: 1;
    // overflow: auto;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .panel-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .panel-box {
    height: 30%;
    // flex: 1;
    background: url("~@/assets/images/category-border.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.15rem;
    padding: 0.0125rem;
    box-sizing: border-box;
    .panel-title {
      width: 100%;
      height: 0.475rem;
      line-height: 0.475rem;
      font-weight: bold;
      text-align: center;
      background: url("~@/assets/images/title-bg.png") no-repeat;
      background-size: 100% 100%;
    }
    .content-row {
      height: 100%;
      display: flex;
      .content-cell {
        flex: 1;
        overflow: hidden;
        text-align: center;
      }
    }
  }
.main-title {
  color: #FFFFFF;
  position: absolute;
  font-size: .625rem;
  width: 100%;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  font-weight: bold;
  background: url('~@/assets/images/main-title.png') no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}
.box1 {
  height: 309px;
}
.box2 {
  height: 321px;
}
.box3 {
  height: 330px;
}
</style>
