<template>
  <div class="panel-left">
    <div class="farm-info">
      <div class="weather">
        <img :src="weatherUrl[condition]" alt="" style="width: 24px;" />
        <span>{{ temperature }} &#8451;</span>
        <span>{{ condition }}</span>
      </div>
      <div class="panel-container">
        <div class="panel-box community-assistance">
          <div class="panel-title">社区帮扶</div>
          <div class="dateSelect">
            <el-date-picker
              v-model="value2"
              type="month"
              size="mini"
              value-format="MM"
              placeholder="请选择日期"
              class="dateTime"
              @change="dateChange"
            >
            </el-date-picker>
          </div>
          <div class="content-row">
            <div ref="temp" class="content-cell"></div>
          </div>
        </div>
        <div class="panel-box party-member">
          <div class="panel-title">“60党员”</div>
          <div class="content-row">
            <div ref="member" class="content-cell"></div>
          </div>
        </div>
        <div class="panel-box hidden-trouble-analysis">
          <div class="panel-title">隐患分析</div>
          <div class="content-row content">
            <div ref="danger" class="content-cell"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
// import unitMixin from "@/utils/unitMixin";
import * as echarts from "echarts";
import axios from 'axios'
export default {
  props: ["helpRecord", "dangerClassify", "dangerTotal", "partyMember"],
  components: {},
  // mixins: [unitMixin],
  data() {
    return {
       weatherUrl: {
        '晴': require("@/assets/images/sun.png"),
        '多云': require("@/assets/images/cloudy.png"),
        '小雨': require("@/assets/images/lightRain.png"),
        '阴': require("@/assets/images/overcast.png"),
        '大雨': require("@/assets/images/heavyrain.png"),
        '暴雨': require("@/assets/images/rainstorm.png"),
      },
      farmId: "",
      visible: false,
      selectedFarmId: null,
      farmlandSum: {},
      houseSum: {},
      processCount: [],
      remindCount: {},
      warnCount: 0,
      areaStyle: "flex: 1; margin-right: 0.3rem;",
      tempChart: null,
      memberChart: null,
      dangerChart: null,
      value2: "",
      temperature: '',
      temperatureIn: null,
      condition: ''
    };
  },
  computed: {
    selectedFarm() {
      if (this.farmId) {
        return this.farmList.find(({ farmId }) => farmId === this.farmId);
      }
      return null;
    },
  },
  watch: {
    helpRecord(newValue, oldValue) {
      this.$nextTick(() => {
        this.initTempChart(newValue);
      });
    },
    dangerClassify(newValue, oldValue) {
      this.$nextTick(() => {
        this.initDangerChart(newValue);
      });
    },
    partyMember(newValue, oldValue) {
      this.$nextTick(() => {
        this.initMemberChart(newValue);
      });
    },
  },
  mounted() {
    this.getTemperature()
    this.temperatureIn = setInterval( () => {
      this.getTemperature()
    }, 1000 * 60 * 60)
  },
  created() {},
  beforeDestroy(){
    clearInterval(this.temperatureIn)
  },
  methods: {
    dateChange(e) {
      console.log(e)
      this.$emit('updateMonth', e)
    },
    getTemperature(){
      axios
      .get("http://wthrcdn.etouch.cn/weather_mini?city=南京市")
      .then((res) => {
        this.temperature = res.data.data.wendu
        this.condition = res.data.data.forecast[0].type
        console.log('===天气===>', res)
      });
    },
    initTempChart(data) {
      this.tempChart = echarts.init(this.$refs.temp);
      let options = {
        tooltip: {
          trigger: "axis",
          backgroundColor: "#000000",
          borderWidth: 0,
          padding: [5, 10],
          textStyle: {
            color: "#ffffff",
          },
        },
        grid: {
          top: "12%",
          left: "13%",
          //   right: 0,
          bottom: "42%",
          //   containLabel: false
        },
        toolbox: {
          show: false,
        },
        xAxis: {
          type: "category",
          boundaryGap: false, //坐标轴两边留白
          data: data.keys,
          axisLabel: {
            textStyle: {
              color: "#03CCD4",
              fontSize: "16",
            },
          },
          axisLine: {
            lineStyle: {
              color: "#03CCD4",
              opacity: 0.3,
            },
          },
          axisTick: {
            show: false,
          },
        },
        yAxis: [
          {
            type: "value",
            splitNumber: 5,
            minInterval: 1,
            splitLine: {
              lineStyle: {
                color: "#9EA3B4",
                opacity: 0.3,
              },
            },
            axisLabel: {
              textStyle: {
                color: "#03CCD4",
                fontSize: "16",
              },
            },
          },
        ],
        series: [
          {
            type: "line",
            symbolSize: 8,
            itemStyle: {
              normal: {
                color: "#F3B604",
                lineStyle: {
                  color: "#F3B604",
                  width: 2,
                },
                areaStyle: {
                  //区域填充样式
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "#323C4A",
                    },
                    {
                      offset: 1,
                      color: "#C69A14",
                    },
                  ]),
                },
              },
            },
            toolbox: {
              show: false,
            },
            data: data.values,
          },
        ],
      };
      this.tempChart.setOption(options);

      // 自适应
      window.onresize = () => {
        this.tempChart.setOption(option);
        this.tempChart.resize();
      };
    },
    initMemberChart(data) {
      this.memberChart = echarts.init(this.$refs.member);
      let option = {
        color: ["#0284F2"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        grid: {
          top: "5%",
          left: "26%",
          //   right: 0,
          bottom: "32%",
          //   containLabel: false
        },
        xAxis: {
          type: "value",
          minInterval: 1,
          splitLine: {
            show: false,
          },
          axisLabel: {
            //修改坐标系字体颜色
            show: true,
            textStyle: {
              color: "#03CCD4",
              fontSize: "16",
            },
          },
        },
        yAxis: [
          {
            type: "category",
            data: data.keys,
            axisPointer: {
              type: "shadow",
            },
            axisLabel: {
              //修改坐标系字体颜色
              show: true,
              textStyle: {
                color: "#03CCD4",
                fontSize: "14",
              },
            },
          },
        ],
        series: [
          {
            name: "人数",
            barWidth: 25,
            label: {
              show: true,
              position: "right", // 位置
              color: "#8bcaff",
              fontSize: 16,
              distance: 10, // 距离
              formatter: "共{c} 人", // 这里是数据展示的时候显示的数据
            },
            type: "bar",
            data: data.values,
          },
        ],
      };
      this.memberChart.setOption(option);

      // 自适应
      window.onresize = () => {
        this.memberChart.setOption(option);
        this.memberChart.resize();
      };
    },
    initDangerChart(data) {
      this.dangerChart = echarts.init(this.$refs.danger);
      let option = {
        tooltip: {
          trigger: "item",
        },
        // center: ['50%', '50%'],
        legend: {
          bottom: "0",
          left: "center",
          textStyle: { color: "#FFFDFE", fontSize: "16" },
        },
        color: ["#FFFF00", "#F59A23", "#D1011C"],
        graphic: [
          {
            type: "text",
            left: "center",
            top: "center",
            z: 2,
            zlevel: 100,
            style: {
              text: this.dangerTotal,
              fill: "#5ec9ff",
              font: "bold 48px Microsoft YaHei",
            },
          },
        ],
        series: [
          {
            name: "隐患分析",
            type: "pie",
            radius: ["80%", "50%"],
            center: ["50%", "45%"],
            avoidLabelOverlap: false,
            labelLine: {
              show: true,
              normal: {
                //设置引导线长度
                show: true,
                length: 3,
              },
            },
            label: {
              show: false,
              position: "center",
              color: "#FFFFFF",
              textStyle: {
                fontSize: 14, // 改变标示文字的大小
                color: "#FFFFFF",
              },
            },
            emphasis: {
              label: {
                show: false,
                fontSize: "40",
                fontWeight: "bold",
              },
            },
            data: data,
          },
        ],
      };
      this.dangerChart.setOption(option);

      // 自适应
      window.onresize = () => {
        this.dangerChart.setOption(option);
        this.dangerChart.resize();
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.panel-left {
  width: 6.325rem;
  color: #fff;
  position: absolute;
  top: 0.175rem;
  bottom: 0.175rem;
  left: 0.2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  animation: movein 0.5s 1;
  @keyframes movein {
    from {
      left: -5.25rem;
    }
    to {
      left: 0.2rem;
    }
  }
  .farm-info {
    flex: 1;
    // overflow: auto;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .weather {
    height: 0.45rem;
    display: flex;
    align-items: center;
    font-size: .25rem;
    position: relative;
    top: .0125rem;
    span {
      margin: 0 0.25rem;
    }
  }
  .panel-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .panel-box {
    // flex: 1;
    background: url("~@/assets/images/category-border.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.15rem;
    padding: 0.0125rem;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .panel-title {
    width: 100%;
    height: 0.7875rem;
    font-size: 0.325rem;
    line-height: 0.7875rem;
    font-weight: bold;
    text-align: center;
    background: url("~@/assets/images/title-bg.png") no-repeat;
    background-size: 100% 100%;
  }
  .hidden-trouble-analysis {
    width: 6.325rem;
    height: 4.125rem;
    .content-row {
      height: 3.3125rem;
      padding-bottom: 0.1625rem !important;
    }
    .content {
      padding-bottom: 0.2rem !important;
    }
  }
  .community-assistance {
    width: 6.325rem;
    height: 3.8625rem;
  }
  .party-member {
    width: 6.3213rem;
    height: 4.0112rem;
  }
  .dateSelect {
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    padding-right: 0.1375rem;
    margin-top: 0.0625rem;
    .dateTime {
      width: 2.25rem !important;
      height: 0.3125rem !important;
      ::v-deep .el-input__prefix {
        left: 1.8875rem !important;
      }
    }
  }
}

.content-row {
  height: 100%;
  display: flex;
  .content-cell {
    flex: 1;
    overflow: hidden;
    text-align: center;
  }
}

.partyMember {
  padding-left: 0.25rem !important;
  padding-bottom: 0.125rem !important;
  padding-right: 0.25rem !important;
}
</style>
