<template>
  <div class="panel-right">
    <div class="farm-info">
      <div class="date">
        <span class="time-y"></span>
        <span class="time-h"></span>
        <span class="time-w"></span>
      </div>
      <div class="panel-container">
        <div class="box1">
          <div class="panel-title">设备信息</div>
          <div class="content-row">
            <div class="content-cell device">
              <div class="device-item" @click="toggleDevice('smoke')">
                <div class="number">
                  {{ deviceInfo ? deviceInfo[0].number : 0 }}个
                </div>
                <div class="name">烟感器</div>
              </div>
              <div class="device-item">
                <div class="number">
                  {{ deviceInfo ? deviceInfo[1].number : 0 }}个
                </div>
                <div class="name">温感器</div>
              </div>
              <div class="device-item">
                <div class="number">
                  {{ deviceInfo ? deviceInfo[2].number : 0 }}个
                </div>
                <div class="name">燃气感</div>
              </div>
            </div>
          </div>
        </div>
        <div class="box2">
					<div class="panel-title">设备状态</div>
					<div class="content-row">
						<div ref="device" class="content-cell"></div>
					</div>
				</div>
         <div class="box3">
          <div class="panel-title">隐患跟踪</div>
          <div class="content-cell content">
            <ul class="list-title">
              <li>上报时间</li>
              <li>小区名称</li>
              <li>隐患类型</li>
            </ul>
            <vue-seamless-scroll class="list-item" :data="hiddenDangerList" :class-option="defaultOption" >
                <ul class="ul-scoll">
                    <li v-for="(item, index) in hiddenDangerList" :key='index'>
                        <span>{{item.createTime}}</span><span>{{item.hiddenDangerLocation}}</span><span>{{item.hazardType}}</span>
                    </li>
                </ul>
            </vue-seamless-scroll>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import vueSeamlessScroll from "vue-seamless-scroll";
import unitMixin from "@/utils/unitMixin";
import * as echarts from "echarts";
export default {
  props: [
    "helpRecord",
    "dangerClassify",
    "dangerTotal",
    "partyMember",
    "deviceInfo",
    "deviceTotal",
    "hiddenDangerList",
  ],
  components: {
    vueSeamlessScroll,
  },
  mixins: [unitMixin],
  data() {
    return {
      defaultOption: {
          step: 0.2, // 数值越大速度滚动越快
          limitMoveNum: 2, // 开始无缝滚动的数据量 this.dataList.length
          hoverStop: true, // 是否开启鼠标悬停stop
          direction: 1, // 0向下 1向上 2向左 3向右
          openWatch: true, // 开启数据实时监控刷新dom
          singleHeight: 0, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
          singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
          waitTime: 1000, // 单步运动停止的时间(默认值1000ms)
      },
      farmId: "",
      visible: false,
      smokeShow: false,
      selectedFarmId: null,
      farmlandSum: {},
      houseSum: {},
      processCount: [],
      remindCount: {},
      warnCount: 0,
      areaStyle: "flex: 1; margin-right: 0.3rem;",
      tempChart: null,
      memberChart: null,
      dangerChart: null,
    };
  },
  computed: {
    selectedFarm() {
      if (this.farmId) {
        return this.farmList.find(({ farmId }) => farmId === this.farmId);
      }
      return null;
    },
  },
  watch: {
    deviceInfo(newValue, oldValue) {
      if (newValue.length) {
        this.$nextTick(() => {
          this.initDeviceChart(newValue);
        });
      }
    }
  },
  mounted() {
    this.time();
  },
  created() {},
  methods: {
    toggleDevice(e) {
      this.smokeShow = !this.smokeShow
      this.$emit('toggleDevice', {visible: this.smokeShow, code: e})
    },
    time() {
      this.oTime();
      setTimeout(() => {
        this.time();
      }, 1000);
    },
    oTime() {
      const dt = new Date();
      let y = dt.getFullYear();
      let mt = dt.getMonth() + 1;
      let day = dt.getDate();
      document.querySelector(".time-h").innerHTML = this.$moment()
        .locale("zh-cn")
        .format("HH:mm");
      document.querySelector(".time-y").innerHTML = y + "/" + mt + "/" + day;
      document.querySelector(".time-w").innerHTML = [
        "星期天",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六",
      ][new Date().getDay()];
    },
    initDeviceChart(newValue) {
      this.deviceChart = echarts.init(this.$refs.device);
      let option = {
        title: {
          // 第一个圆环标题
          text: "全部设备", // 主标题
          textStyle: {
            // 主标题样式
            color: "#5ec9ff",
            fontWeight: "bold",
            fontSize: 19,
          },
          left: "49%", // 定位到适合的位置
          top: "45%", // 定位到适合的位置
          subtext: this.deviceTotal, // 副标题
          subtextStyle: {
            // 副标题样式
            color: "#5ec9ff",
            fontSize: 18,
            fontWeight: "bold",
          },
          textAlign: "center", // 主、副标题水平居中显示
        },
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: 10,
          left: "center",
          textStyle: {
            color: "#FFFDFE",
            fontSize: 16,
          },
        },
        color: ["#00FFFF", "#FFBE00", "#62B788", "#0071FF", "#E18D5A"],
        // graphic: [
        //   {
        //     type: "text",
        //     left: "center",
        //     top: "center",
        //     z: 2,
        //     zlevel: 100,
        //     style: {
        //       text: this.deviceTotal,
        //       fill: "#5ec9ff",
        //       font: "bold 26px Microsoft YaHei"
        //     }
        //   }
        // ],
        series: [
          {
            name: "设备",
            type: "pie",
            center: ["50%", "56%"],
            radius: ["44%", "74%"],
            avoidLabelOverlap: false,
            // itemStyle: {
            //   borderRadius: 1,
            //   borderColor: "#0c3481",
            //   borderWidth: 4,
            // },
            labelLine: {
              show: true,
              normal: {
                //设置引导线长度
                show: true,
                length: 3,
              },
            },
            label: {
              show: false,
              position: "center",
              color: "#FFFFFF",
              textStyle: {
                fontSize: 24, // 改变标示文字的大小
                color: "#FFFFFF",
              },
            },
            emphasis: {
              label: {
                show: false,
                fontSize: "40",
                fontWeight: "bold",
              },
            },
            data: newValue,
          },
        ],
      };
      this.deviceChart.setOption(option);

      // 自适应
      window.onresize = () => {
        this.deviceChart.setOption(option);
        this.deviceChart.resize();
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.panel-right {
  // width: 6.325rem;
  color: #fff;
  position: absolute;
  top: 0.175rem;
  bottom: 0.175rem;
  right: 0.2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  animation: movein 0.5s 1;
  @keyframes movein {
    from {
      right: -5.25rem;
    }

    to {
      right: 0.2rem;
    }
  }
  .farm-info {
    width: 6.5rem;
    flex: 1;
    // overflow: auto;
    padding: 0.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .weather {
    height: 0.45rem;
    display: flex;
    align-items: center;
    font-size: 0.3rem;
    span {
      margin: 0 0.25rem;
    }
  }
  .date {
    height: 0.45rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .25rem;
    span:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
  .panel-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  // .panel-box {
  //   height: 30%;
  //   // flex: 1;
  //   background: url("~@/assets/images/category-border.png") no-repeat;
  //   background-size: 100% 100%;
  //   margin-bottom: 0.15rem;
  //   padding: 0.0125rem;
  //   box-sizing: border-box;
  // }
}
.box1 {
  height: 3.75rem;
  background: url("~@/assets/images/category-border.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.15rem;
  padding: 0.0125rem;
  box-sizing: border-box;
}
.box2 {
  height: 4.125rem;
  background: url("~@/assets/images/category-border.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.15rem;
  padding: 0.0125rem;
  box-sizing: border-box;
}
.box3 {
  height: 4.125rem;
  background: url("~@/assets/images/category-border.png") no-repeat;
  background-size: 100% 100%;
  // margin-bottom: 0.15rem;
  padding: 0.0125rem;
  box-sizing: border-box;
}
.panel-title {
  width: 100%;
  height: .75rem;
  line-height: .75rem;
  font-size: .325rem;
  font-weight: bold;
  text-align: center;
  background: url("~@/assets/images/title-bg.png") no-repeat;
  background-size: 100% 100%;
}
.content-row {
  height: 3.275rem;
  display: flex;
  .content-cell {
    flex: 1;
    overflow: hidden;
    text-align: center;
  }
}
.device {
			// height: 2.25rem;
			display: flex;
			justify-content: space-between;
			padding: 0 0.375rem;
			padding-bottom: 0.3125rem;
      align-items: center;
			// justify-content: space-around;
			.device-item {
				height: 2.5rem;
				padding: 0.375rem;
				top: 1.25rem;
				right: 0.375rem;
				bottom: 0.4375rem;
				text-align: center;
        cursor: pointer;
			}

			.device-item .number {
				position: relative;
				top: .25rem;
				left: 0;
				right: 0;
				font-size: .6rem;
				font-weight: 600;
			}

			.device-item .name {
				position: relative;
				top: .875rem;
				left: 0;
				right: 0;
				bottom: 0.15px;
				font-size: .325rem;
				margin-bottom: 0.125rem;
			}

			.device-item:nth-child(1) {
				background: url("~@/assets/images/device-3.png") no-repeat;
				background-size: 100% 100%;
			}

			.device-item:nth-child(2) {
				background: url("~@/assets/images/device-2.png") no-repeat;
				background-size: 100% 100%;
			}

			.device-item:nth-child(3) {
				background: url("~@/assets/images/device-1.png") no-repeat;
				background-size: 100% 100%;
			}
		}
    .list-title{
			width: 100%;
			display: flex;
			justify-content: space-around;
		}

		.list-title {
			color: #579be0;
			padding: 0.1rem 0;
      margin: 0;
      font-size: .225rem;
			// li {
			//   text-align: center;
			//   width: 100%;
			// }
		}

		.list-item {
      font-size: .2rem;
			color: #02dde3;
			margin: 0;
			padding: 0.1rem 0;
      height: 2.5rem;
      overflow: hidden;
		}
    .ul-scoll {
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: .2rem;
			  color: #02dde3;
        span {
          flex: 1;
          text-align: center;
          padding: .0625rem 0;
          &:nth-child(2) {
            border-left: 1px solid #02dde3;
            border-right: 1px solid #02dde3;
          }
        }
      }
    }
</style>
