@import './reset.scss';

html, body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  min-height: 678px;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  overflow: auto;
  background: linear-gradient(180deg, #162A3A 0%, #090B10 100%);
}

* {
  box-sizing: border-box;
}
li {list-style-type:none;}
a{
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #577595;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(153, 153, 153, 0.44);
}

.el-table .el-table__cell.cell-no-padding:not(th) {
  padding: 0;
  .cell {
    padding: 0;
    div {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:not(:first-child) {
        border-top: 1px solid #2C487E;
      }
    }
  }
}
// 表格错位
.el-table th.gutter {
  display: table-cell !important;
}
.el-table colgroup.gutter {
  display: table-cell !important;
}

.checkbox-transparent {
  .el-checkbox__inner {
    background-color: transparent;
  }
}

.btn-with-img {
  height: 32px;
  padding: 0 24px;
  border-radius: 2px;
  span {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }
}

.upload-img{
  vertical-align: text-bottom;
  height: 16px;
  width: auto;
  margin-right: 8px;
}

// 列表统一样式
.list-view {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 1px solid rgba(197, 224, 255, 0.7);
  border-radius: 8px 8px 0 0;
  margin: 10px 12px 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  .list-btns {
    margin-bottom: 20px;
  }
  .list-container {
    flex: 1;
    overflow: auto;
    .el-table {
      background-color: transparent;
      th.el-table__cell.is-leaf {
        border-top: 1px solid $--table-border-color;
      }
      &:not(.el-table--border) .el-table__header-wrapper {
        border-left: 1px solid $--table-border-color;
        border-right: 1px solid $--table-border-color;
      }
      .el-button.el-button--text {
        padding: 0;
        line-height: unset;
        &:not(.is-disabled) {
          color: #85BDFF;
        }
      }
    }
  }
  .list-footer {
    text-align: right;
    margin-top: 20px;
  }
}
// 列表搜索栏
.list-filter {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  .el-form-item.el-form-item--small {
    margin-bottom: 8px;
  }
  input.el-input__inner {
    border-radius: 2px;
    padding-right: 30px;
  }
  .btn-reset {
    color: #fff;
    border-color: $--input-border-color;
    background-color: rgba(23, 70, 111, 0.36);
  }
}

.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-dialog.custom-dialog {
  width: 900px;
  height: 560px;
  padding: 0 24px 40px;
  margin-top: 0 !important;
  margin-bottom: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  &.map-dialog{
    width: 1000px;
    height: calc(100% - 230px);
  }
  &.custom-dialog-medium {
    width: calc(100% - 680px);
    min-width: 1100px;
    height: calc(100% - 100px);
  }
  .el-dialog__header {
    text-align: center;
    padding: 28px 0 20px;
    position: relative;
    .el-dialog__title {
      color: #fff;
      font-size: 20px;
    }
    .el-dialog__headerbtn {
      right: -8px;
      .el-icon-close{
        &:hover{
          color: #909399;
        }
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 10px;
      left: calc(50% - 70px);
      width: 140px;
      height: 2px;
      background: linear-gradient(90deg, rgba(231, 246, 246, 0), rgba(197, 224, 255, 1), rgba(197, 224, 255, 0));
    }
  }
  .el-dialog__body {
    padding: 20px 20px;
    flex: 1;
    overflow: auto;
  }
  .el-dialog__footer {
    text-align: center;
    padding: 24px 0 0;
    .dialog-footer button {
      width: 150px;
      & + button {
        margin-left: 60px;
      }
    }
  }
}
.custom-form {
  padding: 0 32px;
  &.custom-form-flex {
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    .el-form-item {
      width: calc(50% - 16px);
      margin-right: 16px;
      margin-bottom: 20px;
    }
  }
  .el-form-item__label {
    color: #fff;
    padding-bottom: 0;
  }
  .upload-tip {
    line-height: 1.15;
    font-size: 12px;
    color: #999;
  }
  .upload-add-image {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: #3792FB;
    line-height: 60px;
    border: 1px solid rgba(83, 157, 255, 0.5);
    background-color: rgba(128, 169, 253, 0.16);
    border-radius: 4px;
  }
  .el-upload--picture{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 16px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(128, 169, 253, 0.16);
    box-shadow: 0px 0px 3px 0px rgba(83, 157, 255, 0.5) inset;
    border-radius: 4px;
    .el-icon-plus{
      color: #3998FA;
      font-weight: bold;
    }
  }
  
  .upload-doc-wrap{
    .el-upload-list--text{
      .el-upload-list__item{
        display: flex;
        align-items: center;
        &:hover{
          background-color: transparent;
        }
        color: #fff;
        img{
          width: 20px;
          height: 21px;
        }
        span{
          margin: 0 18px 0 10px;
        }
      }
    }
  }
}

.bg-shadow {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(360deg, rgba(0, 1, 4, 0.91) 0%, rgba(0, 22, 57, 0) 10%, rgba(0, 22, 57, 0) 61%, rgba(0, 22, 57, 0.1) 98%, rgba(0, 22, 57, 0.8) 100%);
    pointer-events: none;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(270deg, #001028 0%, rgba(0, 22, 57, 0.58) 23%, rgba(0, 22, 57, 0.02) 27%, rgba(0, 22, 57, 0.05) 72%, rgba(0, 22, 57, 0.7) 79%, #000C1F 100%);
    pointer-events: none;
  }
}

.split-line-dot {
  width: 100%;
  height: 1px;
  display: flex;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-image: url('../assets/icons/icon-border.png');
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: -14px;
  }
  span:not(:last-child) {
    width: 3px;
    background-color: #A8D6FF;
    margin-right: 3px;
  }
  span:last-child {
    flex: 1;
    background: linear-gradient(90deg, #A8D6FF 0%, rgba(211, 237, 255, 0.16) 100%);
  }
}

