@import './variable.scss';

.fj-container {
  width: 100%;
  height: 100%;
  padding: 2vh 1.4vw;
}
.fj-header {
  padding: 0;
  display: flex;
}
.fj-main {
  width: 100%;
  height: 100%;
  padding: 0;
}

.fj-page {
  position: relative;
  width: 100%;
  height: 100%;
}

#fj-map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.mapboxgl-ctrl-attrib {
  display: none;
}
.mapboxgl-ctrl-logo {
  pointer-events: none;
}
.mapboxgl-popup{
  top: -10px!important;;
}
.mapboxgl-popup-content {
  max-width: 50vw;
  padding: 10px 15px !important;
  color: #fff !important;
  background: $--tooltip-bg-color !important;
  backdrop-filter: blur(10px);
  border: 1px solid $--tooltip-border-color !important;
}
.mapboxgl-popup-tip {
  display: none;
  border: 5px solid transparent !important;
  border-top-color: $--tooltip-border-color !important;
}
.mapboxgl-ctrl-geolocate {
  display: none !important;
}
.geocoder-container {
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 2;
  .geocoder-img {
    position: absolute;
    z-index: 2;
    right: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
  }
  .mapboxgl-ctrl-geocoder {
    .mapboxgl-ctrl-geocoder--input {
      width: 270px;
      height: 40px;
      padding: 0 25px 0 15px;
      background: rgba(128, 169, 253, 0.5);
      box-shadow: inset 0px 0px 3px 0px rgba(83, 157, 255, 0.5);
      border-radius: 4px;
      border: 1px solid #85bdff;
      color: #fff;
      backdrop-filter: blur(10px);
      outline: none;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
    .mapboxgl-ctrl-geocoder--icon-search {
      display: none;
    }
    .mapboxgl-ctrl-geocoder--button {
      display: none !important;
    }
    .mapboxgl-ctrl-geocoder--pin-right > * {
      z-index: 2;
      position: absolute;
      right: 8px;
      top: 7px;
      display: none;
    }
    .mapboxgl-ctrl-geocoder--icon-loading {
      width: 30px;
      height: 30px;
      margin-top: -2px;
      margin-right: -3px;
      fill: #fff;
      animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
      path {
        fill: #fff;
      }
    }
  }
  .suggestions {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    li {
      width: 270px;
      list-style: none;
      font-size: 14px;
      padding: 0 20px;
      position: relative;
      color: #606266;
      height: 34px;
      line-height: 34px;
      box-sizing: border-box;
      cursor: pointer;
      background-color: rgba(128, 169, 253, 0.4);
      &.avtive {
        color: #ffffff;
        font-weight: bold;
      }
      &:hover {
        background-color: rgba(128, 169, 253, 0.6);
      }
      .geocoder-dropdown-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 覆盖element样式 */
.el-table {
  tr {
    background-color: transparent;
    // backdrop-filter: blur(10px);
  }
  .cell {
    line-height: unset;
  }
  .el-table__fixed-right {
    background-color: #000;
  }
  .el-table__fixed-right::before {
    display: none;
  }
  .el-table__empty-text {
    display: none;
  }
}
.border-table{
  .el-table__header{
    .el-table__cell{
      border-right: none;
    }
  }
}
.el-pagination.is-background {
  .btn-prev,
  .btn-next,
  .el-pager li {
    color: #fff;
    background-color: rgba(23, 70, 111, 0.36);
  }
  .btn-prev:disabled,
  .btn-next:disabled {
    color: #999;
  }
  .el-pager li:not(.disabled).active {
    background-color: rgba(128, 169, 253, 0.4);
  }
  .el-pagination__total {
    color: #fff;
  }
  .el-pagination__jump {
    color: #fff;
  }
}
.el-textarea.is-disabled .el-textarea__inner,
.el-range-editor.is-disabled {
  color: #fff;
  border-color: $--input-border-color;
  background-color: rgba(23, 70, 111, 0.36);
  &:focus,
  &:hover {
    border-color: $--input-border-color;
  }
}

input.el-input__inner {
  border-color: $--input-border-color;
  &:focus,
  &:hover {
    border-color: $--input-border-color;
  }
}
textarea.el-textarea__inner {
  border-color: $--input-border-color;
  &:focus,
  &:hover {
    border-color: $--input-border-color;
  }
}
.el-textarea .el-input__count,
.el-input .el-input__count .el-input__count-inner {
  color: #999;
  background-color: transparent;
}
.el-input__inner {
  border-color: $--input-border-color;
  &:focus,
  &:hover {
    border-color: $--input-border-color;
  }
}

.el-input.is-disabled .el-input__inner {
  border-color: $--input-border-color;
  color: #ffffff;
  background-color: $--input-background-color;
}

// 日期选择器
.el-date-editor {
  input.el-range-input {
    color: #ffffff;
    background-color: transparent;
  }
  .el-range-separator {
    color: #c0c4cc;
  }
}

.el-picker-panel.el-popper {
  color: #fff;
  background-color: $--popper-background-color;
  border-color: $--input-border-color;
  &.el-popper[x-placement^='bottom'] {
    margin-top: 4px;
  }
  .el-date-picker__header :not(:hover) {
    color: #fff;
  }
  .el-date-picker__time-header {
    border-bottom-color: $--input-border-color;
  }
  .el-year-table td:not(.today) .cell,
  .el-month-table td:not(.today) .cell {
    color: #fff;
  }
  .el-picker-panel__footer {
    background-color: transparent;
    border-top-color: $--input-border-color;
  }
  .popper__arrow {
    display: none;
  }
  .el-date-range-picker__header {
    .el-picker-panel__icon-btn {
      color: #3998fa;
    }
  }
  .el-button.is-plain {
    background-color: #3998fa;
    border: none;
    color: #fff;
  }
}
// 时间选择器
.el-time-panel.el-popper {
  color: #fff;
  background-color: $--popper-background-color;
  border-color: $--input-border-color;
  .el-time-spinner__item {
    color: #999999;
    &.active {
      color: #ffffff;
    }
    &:hover {
      color: #d8d8d8;
      background-color: unset;
    }
  }
  .el-time-panel__footer .el-time-panel__btn.cancel {
    color: #d8d8d8;
  }
}
.el-date-table td.disabled div {
  background-color: #f5f7fa40;
}

.el-cascader:hover .el-input__inner,
.el-select:hover .el-input__inner {
  border-color: $--input-border-color !important;
}
.el-select-dropdown.el-popper {
  background-color: $--popper-background-color;
  backdrop-filter: blur(5px);
  border-color: $--input-border-color;
  &[x-placement^='bottom'] {
    margin-top: 4px;
  }
  &.is-multiple .el-select-dropdown__item.selected {
    background-color: rgba(128, 169, 253, 0.4);
  }
  .el-select-dropdown__item {
    &:not(.selected) {
      color: #c0c4cc;
    }
    &.hover {
      background-color: rgba(128, 169, 253, 0.4);
    }
    &.focus {
      background-color: rgba(128, 169, 253, 0.4);
    }
  }
  .popper__arrow {
    display: none;
  }
}

.el-cascader__dropdown.el-popper {
  background-color: $--popper-background-color;
  backdrop-filter: blur(5px);
  border-color: $--input-border-color;
  &[x-placement^='bottom'] {
    margin-top: 4px;
  }
  .el-cascader-node {
    &.in-checked-path {
      background: rgba(128, 169, 253, 0.4);
    }
    &.in-active-path {
      background: rgba(128, 169, 253, 0.4);
    }
    &.is-active {
      background: rgba(128, 169, 253, 0.4);
    }
    &:not(.is-disabled) {
      &:hover {
        background-color: rgba(128, 169, 253, 0.4) !important;
      }
      &:focus {
        background-color: rgba(128, 169, 253, 0.4) !important;
      }
    }
    .el-radio {
      position: absolute;
      left: 0;
      width: 100%;
    }
    .el-radio__input {
      visibility: hidden;
    }
    .el-icon-check {
      display: none;
    }
    .el-icon-arrow-right {
      display: none;
    }
  }
  .el-cascader-menu {
    border-right: 1px solid #f1f1f117;
  }
  .popper__arrow {
    display: none;
  }
}

.fj-dropdown {
  margin-right: 16px;
  color: $--input-font-color;
  cursor: pointer;
}

.el-dropdown-menu.el-popper {
  padding: 0;
  background-color: rgba(18, 35, 51, 0.28);
  backdrop-filter: blur(5px);
  border: 1px solid;
  border-image: linear-gradient(
      179deg,
      rgba(231, 246, 246, 0.48),
      rgba(197, 224, 255, 0.46),
      rgba(197, 224, 255, 0.88)
    )
    1 1;
  .el-dropdown-menu__item {
    color: #ededed;
    &:not(.is-disabled) {
      &:hover {
        background-color: #3998fa !important;
      }
      &:focus {
        background-color: transparent !important;
      }
    }
  }
  .popper__arrow {
    display: none;
  }
}
.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background: #3998fa;
  border-color: #3998fa;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #3998fa;
  border-color: #3998fa;
}

.el-tooltip__popper.is-dark {
  max-width: 50%;
  background: $--tooltip-bg-color;
  border: 1px solid $--tooltip-border-color !important;
  .popper__arrow{
    display: none;
  }
}

.tree-select {
  .vue-treeselect__control {
    height: 32px;
    line-height: 30px;
    border-color: #80a9fd !important;
    background: rgba(128, 169, 253, 0.17);
    border-radius: 2px;
    .vue-treeselect__placeholder {
      line-height: 30px;
    }
    .vue-treeselect__single-value {
      color: #fff;
      line-height: 30px;
    }
    .vue-treeselect__input {
      color: #fff;
    }
  }
  .vue-treeselect__menu-container {
    margin-top: 4px;
    .vue-treeselect__menu {
      color: #c0c4cc;
      background-color: #294063;
      backdrop-filter: blur(5px);
      border-color: #80a9fd;
      .vue-treeselect__option--selected {
        background: rgba(128, 169, 253, 0.4);
      }
      .vue-treeselect__option--highlight {
        background: rgba(128, 169, 253, 0.4);
      }
    }
  }
}

.el-tag.el-tag--info {
  color: #fff;
  background-color: #57789f;
  border: none;
  .el-tag__close.el-icon-close {
    color: #57789f;
    background-color: #ffffff;
  }
}

.el-date-editor.el-range-editor.el-input__inner {
  width: 400px;
}
// 修改message弹窗样式
.el-message.el-message--success{
  background-color: #173D5F;
  padding: 12px;
  backdrop-filter: blur(5px);
  border-color: #00FF9A;
  .el-message__icon.el-icon-success{
    display: none;
  }
  &:before{
    content:'';
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }
  .el-message__closeBtn.el-icon-close, .el-message__content{
    color: #00FF9A;
  }
}
.el-message.el-message--error{
  background-color: #173D5F;
  padding: 12px;
  backdrop-filter: blur(5px);
  border-color: #F84444;
  .el-message__icon.el-icon-error{
    display: none;
  }
  &:before{
    content:'';
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }
  .el-message__closeBtn.el-icon-close, .el-message__content{
    color: #F84444;
  }
}
.el-message.el-message--warning{
  background-color: #173D5F;
  padding: 12px;
  backdrop-filter: blur(5px);
  border-color: #ffffff60;
  .el-message__icon.el-icon-warning{
    display: none;
  }
  .el-message__content{
    color: #fff;
  }
  &:before{
    content:'';
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }
  .el-message__closeBtn.el-icon-close{
    color: #FFFFFF;
  }
}

.stepStyle{
  .el-form-item__content{
    line-height: 55px !important;
    .el-steps{
      .el-step__line{
        top: 39px;
        bottom: -10px;
        background-color: #85BBFB;
      }
      .el-step__icon{
        background: transparent;
        border-color: #162f4d;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //box-sizing: border-box;
        .el-step__icon-inner{
          width: 40%;
          height: 40%;
          border-radius: 50%;
          color: transparent;
          background: #85BBFB;
        }
      }
      .el-step__main{
        .el-step__title{
          line-height: 57px;
          font-size: 12px;
          .el-form-item{
            .el-form-item__label{
              color: #C0C4CC;
              font-size: 12px;
            }
            .el-form-item__content{
              display: inline-block;
              margin-left: 10px;
              .el-select{
                width: 350px;
                .el-input{
                  width: 350px;
                  .el-input__inner{
                    width: 350px;
                  }
                }
              }
            }
          }
        }
        .el-step__description{
          //display: none;
        }
      }
    }
  }
}

.detail{
  .steps{
    .el-steps{
      .el-step__main{
        position: relative;
        left: -43%;
        .el-step__title{
          text-align: center !important;
        }
        .el-step__description{
          text-align: center !important;
          padding-right: 0px !important;
        }
      }
      & > .el-step:last-child{
        .el-step__main{
          position: relative;
          left: -32% !important;
        }
      }
    }
  }
}
