$--input-border-color: #80A9FD; // 表单边框颜色
$--popper-background-color: #294063;

/* Element 自定义主题 */
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* 改变主题色变量 */
$--color-primary: #3998FA;

$--input-font-color: #ffffff;
$--input-background-color: rgba(128, 169, 253, 0.17);
$--input-small-font-size: 14px;
$--select-option-selected-font-color: #ffffff;
$--select-input-focus-border-color: $--input-border-color;
$--radio-font-color: #ffffff;
$--checkbox-font-color: #ffffff;

$--datepicker-header-font-color: #ffffff;
$--datepicker-off-font-color: #999999;
$--datepicker-inrange-background-color: #4874a2;

$--button-small-font-size: 14px;
$--button-small-padding-vertical: 8px;
// $--button-small-padding-horizontal: 24px;

$--table-border-color: #2C487E;
$--table-font-color: #ffffff;
$--table-header-font-color: #ffffff;
$--table-header-background-color: rgba(128, 169, 253, 0.16);
$--table-row-hover-background-color: rgba(128, 169, 253, 0.4);

$--pagination-font-size: 14px;
$--pagination-background-color: transparent;
$--pagination-font-color: #ffffff;
$--pagination-button-color: #ffffff;
$--pagination-button-disabled-color: #d8d8d8;

$--cascader-menu-font-color: #C0C4CC;
$--cascader-menu-selected-font-color: #ffffff;

$--tooltip-bg-color: #17365F;
$--tooltip-border-color: rgba(255, 255, 255, 0.61);

@import '~element-ui/packages/theme-chalk/src/index';
