<template>
  <!-- <fj-select v-model="form.username"></fj-select> -->
  <el-select
    :value="value"
    filterable
    remote
    v-bind="$attrs"
    :remote-method="remoteMethod"
    @change="selectChange"
    :loading="loading">
    <el-option
      v-for="item in options"
      :key="item.id"
      :label="item.username"
      :value="item.id">
    </el-option>
  </el-select>
</template>

<script>
import API from '@/api/index'
export default {
  props: {
    valueKey: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Array, Number]
    }
  },
  data() {
    return {
      options: [],
      loading: false
    }
  },
  mounted() {},
  methods: {
    async remoteMethod(username) {
      if (username !== '') {
        this.loading = true
        let params = { username, pageNo: 1, pageSize: 500, noLoading: true }
        let resp = await API.user.getEmployeeList(params)
        let list = resp.data
        this.options = list.filter(item => {
          return item.username.toLowerCase().indexOf(username.toLowerCase()) > -1
        })
        this.loading = false
      } else {
        this.options = []
      }
    },
    selectChange(val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
