<!--
 * @Author: 杨源
 * @Date: 2022-03-27 13:40:48
 * @LastEditors: 杨源
 * @LastEditTime: 2022-03-27 16:28:30
 * @FilePath: \agriculture_sass\src\components\FjDialogFooter\index.vue
 * @Description:
-->
<template>
  <div class="dialog-footer">
    <el-button size="medium" class="btn-cancel" @click="handleClose">{{ cancel }}</el-button>
    <el-button size="medium" type="primary" @click="handleConfirm">{{ confirm }}</el-button>
  </div>
</template>

<script>
/**
 * 基础弹窗 footer 部分的按钮
 */
export default {
  name: 'FjDialogFooter',
  // 不影响基础功能的增量更新 自定义footer文字
  props: {
    confirmText: {
      type: String,
      default: 'btn.confirm'
    },
    cancelText: {
      type: String,
      default: 'btn.cancel'
    }
  },
  // 组件变量调试查看
  created() {},
  // 利用计算属性防止 i18n更换区域未转换语言的问题
  computed: {
    confirm() {
      return this._i18n.t(this.confirmText)
    },
    cancel() {
      return this._i18n.t(this.cancelText)
    }
  },
  methods: {
    handleClose() {
      this.$emit('close')
    },
    handleConfirm() {
      this.$emit('confirm')
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-cancel {
  border-color: #85bdff;
  background-color: transparent;
  color: #fff;
  &:hover,
  &:focus {
    border-color: #85bdff;
    background-color: #85bdff10;
    color: #fff;
  }
}
</style>
