<template>
  <div class="login-page">
    <div class="language-select-box">
      <!-- <img src="~@/assets/images/login-page-min-log.png" style="margin-right: 4px" /> -->
      <el-divider direction="vertical"></el-divider>
      <!-- <img src="~@/assets/images/language.png" style="margin-left: 4px" /> -->
      <el-dropdown trigger="click" class="fj-dropdown" style="margin-right: 0px;margin-left: 4px;">
        <span class="el-dropdown-link">
          {{langTxt}}<i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="item in languageList" @click.native="setLang(item.key)" :key="item.key">{{item.label}}</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="login-box">
      <!-- welcome log in -->
      <div>{{$t('login.welcome')}}CH</div>
      <div style="font-size: 24px;margin-top: 8px;">
          <span style="font-size: 28px;"><b>{{$t('shortTitle')}}</b><br /><span style="font-size: 20px; font-weight: 100;">{{$t('title')}}</span></span>
      </div>
      <el-form ref="loginForm" :model="params" :rules="rules" class="login-form">
        <el-form-item prop="username">
          <el-input v-model="params.username" :placeholder="$t('login.inputAccount')" size="medium"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="params.password" @keypress.enter.native="login" :placeholder="$t('login.inputPassword')" size="medium"> </el-input>
        </el-form-item>
        <el-form-item style="margin: -10px 0 12px;">
          <el-checkbox v-model="rememberMe">{{$t('login.remenberPassword')}}</el-checkbox>
        </el-form-item>
        <el-form-item >
          <el-button type="primary" :disabled="!agree" @click="login" style="width: 100%;" size="medium">{{$t('login.txt')}}</el-button>
        </el-form-item>
        <el-form-item style="margin: -10px 0 12px;">
          <el-checkbox v-model="agree" class="agree-confirm">{{$t('login.agreeAndConfirm')}}<a @click.prevent="agreementVisible = true" style="color: #3998FA;">{{$t('login.userAgreement')}}</a></el-checkbox>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog :title="$t('login.userAgreementTxt')" :visible.sync="agreementVisible" @opened="handleOpen" custom-class="custom-dialog" append-to-body :show-close="false" :close-on-click-modal="false">
      <iframe ref="iframe" :height="height" scrolling="no" style="width: 100%;border: none;"></iframe>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size="medium" @click="agree = true;agreementVisible = false">{{$t('btn.confirm')}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { encode, decode } from 'js-base64'
import { mapState, mapGetters } from 'vuex';
import API from '@/api'
import { getLanguage } from '@/utils/utils'

export default {
  data () {
    return {
      rules: {
        username: [
          { required: true, message: this.$t('login.inputUserName'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('login.inputUserPassword'), trigger: 'blur' }
        ]
      },
      params: {
        username: '',
        password: ''
      },
      rememberMe: false,
      agree: false,
      height: 500,
      agreementVisible: false
    }
  },
  computed: {
    ...mapState(['lang']),
    ...mapGetters(['langTxt', 'languageList'])
  },
  created () {
    if (localStorage.getItem('login')) {
      const login = JSON.parse(decode(localStorage.getItem('login')))
      Object.assign(this.params, login)
    }
  },
  methods: {
    setLang(val) {
      this.$store.commit('setLang', val)
    },
    login () {
      this.$refs.loginForm.validate(async (valid, rules) => {
        if (valid) {
          if (this.rememberMe) {
            localStorage.setItem('login', encode(JSON.stringify(this.params)))
          }
          this.$store.dispatch('user/login', this.params).then(resp => {
            API.user.getUserInfo({ id: this.$store.state.user.userId }).then(rsp => {
              this.avatarImageUrl = rsp.data.avatarImageUrl
              let language = ''
              if (rsp?.data?.country) {
                const country = rsp?.data?.country.toLowerCase()
                switch (country) {
                  case 'jpn':
                    language = 'ja'
                    break;
                  case 'chn':
                    language = 'zh'
                    break;
                  default:
                    language = 'en'
                    break;
                }
              } else {
                language = getLanguage()
              }
              this.setLang(language)
            })
          })
        } else {
          for (let key in rules) {
            this.$message.warning({ message: rules[key][0].message })
            return false
          }
        }
      })
    },
    handleOpen () {
      const iframe = this.$refs.iframe
      iframe.src = `/agreement/${this.lang || 'en'}.html` // 根据国际化选择对应语种协议
      if (iframe.attachEvent) {
        iframe.attachEvent('onload', () => {
          this.height = iframe.contentWindow.document.documentElement.scrollHeight
        })
      } else {
        iframe.onload = () => {
          this.height = iframe.contentWindow.document.documentElement.scrollHeight
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.login-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-box {
    width: 436px;
    height: 512px;
    padding: 60px 70px;
  }
  .login-form {
    margin-top: 46px;
  }
}
.language-select-box{
  padding: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
}
.agree-confirm{
  white-space: initial;
  position: relative;
  ::v-deep{
    .el-checkbox__label{
      width: 300px;
      position: absolute;
      top: 12px;
      left: 16px;
    }

  }
}
::v-deep{
  .el-checkbox:not(.is-checked) .el-checkbox__inner{
    background-color: transparent;
  }
}
</style>
