<template>
  <conghua-login v-if="party === 'conghua'"></conghua-login>
  <farmbook-login v-else></farmbook-login>
</template>

<script>
import FarmbookLogin from './FarmbookLogin.vue'
import ConghuaLogin from './ConghuaLogin.vue'
export default {
  components: { FarmbookLogin, ConghuaLogin },
  data () {
    return {
      party: 'farmbook'
    }
  },
  created () {
    const party = this.$route.params.party || 'farmbook'
    this.party = party
    localStorage.setItem('PARTY', party)
  }
}
</script>
